
html {
    background-image: url('/bg-3.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
}


body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.p-button-icon {
    font-size: 22px !important;
    display: block !important;
}

h1,h2 {
    margin: 0;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    min-height: calc(100vh - 90px);
    width: 100%;
    padding: 15px 15px;
    
}

.p-paginator-bottom {
    padding-top: 10px;
}